body{
    font-family: "Inter", sans-serif;
    font-size: 1em;
}
p{
    font-size: 1em;
}
h2{
    font-size: 1.5em;
}
.review-container {
    border: 3px solid #800080;
    border-radius: 10px;
    padding: 20px;
    width: 75%;
    height: auto;
    margin: 100px 300px;
}
.badge{
    background-color: #800080;
    color: white;
    border-radius: 40px;
    font-size: 0.75em;
}
.rating {
    color: orange;
    font-size: 1.5em;
}
.desc {
    font-size: 1.5em;
}
.rev-photo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-img{
    height: auto;
    width: 35%;
    margin: 5px;
}